@page "/"
@using TranslationManagement.Client
@using TranslationManagement.Web.Facade
@inject TranslatorManagementFacade _facade

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if(Translators != null)
{
    foreach (var item in Translators)
    {
        <p>@item.Name</p>
    }
}

<button @onclick="async() => await CreateNew()">Create</button>


@code
{



    public ICollection<Translator> Translators { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Translators = await _facade.AllTranslators();
    }

    private async Task CreateNew()
    {
        var x = new Translator
            {
                Name = "ahoj",
                CreditCardNumber = "123"
            };

        await _facade.Create(x);
    }

}